<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="humanoid">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import humanoid urdf file -->
    <xacro:include filename="$(find walker_tienkung_ei_description)/urdf/walker_tienkung_ei.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="humanoid.ros2_control.xacro" />


    <xacro:humanoid_ros2_control name="mock_components" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
